<h2 mat-dialog-title class="titulo">{{form.value.id ? 'Editar' : 'Nuevo'}} Estudiante</h2>

<form [formGroup]="form" (ngSubmit)="guardar()">
<mat-form-field appearance="fill" class="full-width">
  <mat-label>Nombre</mat-label>
  <input matInput formControlName="nombre" required>
</mat-form-field>


<mat-form-field appearance="fill" class="full-width">
  <mat-label>Apellido</mat-label>
  <input matInput formControlName="apellido" required>
</mat-form-field>


<mat-form-field appearance="fill" class="full-width">
  <mat-label>Edad</mat-label>
  <input matInput formControlName="edad" required>
</mat-form-field>


<mat-form-field appearance="fill" class="full-width">
  <mat-label>Email</mat-label>
  <input matInput formControlName="email" required>
</mat-form-field>


<mat-form-field appearance="fill" class="full-width">
  <mat-label>Fecha denacimiento</mat-label>
  <input matInput formControlName="fechaNacimiento" required>
</mat-form-field>

<mat-checkbox class="active" formControlName="activo">Activo</mat-checkbox>


<div style=" margin-top: 1rem; text-align: right;">
  <button mat-icon-button type="button"  (click)="cancelar()"><mat-icon>cancel</mat-icon></button>
  <button mat-icon-button color="primary" type="submit"><mat-icon>save</mat-icon></button>
</div>
</form>
