<nav style="padding: 10px; background: #f5f5f5; display: flex; justify-content: space-between;">
  <span>📚 Mi CRUD Angular</span>

  @if(isLoggedIn$() | async) {
    <button mat-button color="warn" (click)="logout()" [disabled]="isLoggingOut">
      Cerrar sesión
    </button>
  }
</nav>

<!-- Contenido de la app -->
<router-outlet></router-outlet>

<!-- Overlay del spinner -->
 <div style="padding: 10px; background: #f5f5f5; display: flex; justify-content: center;">
@if(isLoggingOut) {
  <div class="overlay">
    <mat-progress-spinner mode="indeterminate" diameter="100"></mat-progress-spinner>
    <p>Cerrando sesión...</p>
  </div>
}

 </div>





